$break-small: 719px;

.grid-image {
    text-align: end;
    flex-direction: column;
    display: inline;
    margin-top: auto;
}

.cta-button {
    height: 60px;
    position: relative;

    .get-started {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        width: 250px;
        height: 47px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 47px;
        display: block;
        background: #f67240;
        border-radius: 4px;
        text-align: center;
        color: #ffffff;
        margin: 0 auto;
    }
}

.funfact-section {
    margin: 7rem 0;
}

.section-title {
    font-size: 6rem;
    font-style: normal;
    font-weight: bold;
    color: #f67240;
    line-height: 54px;
    font-family: "Luckiest Guy", cursive;
    text-shadow: 0 2px black;
    text-align: center;
    padding-bottom: 4rem;
    letter-spacing: 5px;

    p {
        font-size: 1.55rem;
        font-family: "Exo", sans-serif;
        line-height: 35px;
        letter-spacing: 0px;
    }
}

.service-title {
    font-size: 6rem;
    font-style: normal;
    font-weight: bold;
    color: #f67240;
    line-height: 90px;
    font-family: "Luckiest Guy", cursive;
    text-shadow: 0 2px black;
    text-align: center;
    padding-bottom: 4rem;
    letter-spacing: 5px;
}

.testimonial-section {
    border-radius: 2rem;
}
.about-section-title {
    font-size: 6rem;
    font-style: normal;
    font-weight: bold;
    color: #f67240;
    font-family: "Luckiest Guy", cursive;
    text-shadow: 0 2px black;
    text-align: center;
    padding-bottom: 4rem;
    letter-spacing: 5px;
    line-height: 5rem;
}

.menu-bg {
    background-color: #13358f;
}

.footer-bg {
    border-top: 0.3rem #f67240;
    border-style: solid;
    margin-top: 8rem;
    background: linear-gradient(
        0deg,
        rgba(0, 9, 52, 1) 34%,
        rgba(9, 9, 121, 1) 100%
    );
    border-top-left-radius: 0.85rem;
    border-top-right-radius: 0.85rem;
}

body {
    header {
        display: block;
        padding: 39px 0;

        .logo {
            img {
                width: 90%;
                height: 90%;
            }
        }

        .top-menu {
            display: flex;
            justify-content: space-between;
        }
    }

    .page-header {
        text-align: center;
        border-radius: 0px 0px 40px 40px;
        z-index: -999;

        h1 {
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            color: #f67240;
            padding: 3rem 0 3rem 0;
            line-height: 54px;
            text-shadow: 0 2px black;
        }

        h2 {
            font-size: 36px;
            font-style: normal;
            font-weight: bold;
            color: #f67240;
            line-height: 54px;
            font-family: "Luckiest Guy", cursive;
            text-shadow: 0 2px black;
        }

        p {
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 34px;
        }

        img {
            max-width: 100%;
        }

        &.home {
            padding-bottom: 15%;
        }

        @media screen and (max-width: $break-small) {
            padding-top: 1px;
            padding-bottom: 15%;

            h1,
            h2 {
                padding-top: 0;
            }

            img {
                max-width: 80%;
            }
        }
    }

    .features {
        .feature__item {
            padding: 50px 0;

            .row {
                display: flex;
                flex-wrap: wrap;

                .col-6 {
                    align-self: center;
                }
            }

            .feature__content {
                justify-content: center;
                display: flex;
                flex-direction: column;
                padding: 0px 35px;

                h2 {
                    font-size: 36px;
                    font-weight: bold;
                    margin-bottom: 15px;
                    color: #f67240;
                    font-family: "Luckiest Guy", cursive;
                    text-shadow: 0 2px black;
                }

                p {
                    font-size: 18px;
                    line-height: 26px;
                }
            }

            .thumbnail {
                img {
                    max-width: 100%;
                }
            }
        }

        @media screen and (max-width: $break-small) {
            .col-6.first {
                order: 1;
            }

            .col-6 {
                order: 2;
            }

            .content {
                text-align: center;
                display: block !important;
                margin: 0;
            }

            h2 {
                margin-top: 10px;
            }
        }
    }

    .call-to-action {
        background-color: #13358f;
        color: #ffffff;
        padding: 65px 0;
        border-radius: 40px 40px 0px 0px;

        .container {
            display: flex;

            @media screen and (max-width: $break-small) {
                display: block;

                .call-to-action__content {
                    text-align: center;
                }
            }
        }

        .button {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media screen and (max-width: $break-small) {
                display: block;
                width: 100%;
                margin-top: 30px;
            }

            a {
                font-size: 18px;
                background-color: #ffffff;
                width: 184px;
                margin-left: auto;
                border-radius: 4px;
                height: 54px;
                display: flex;
                text-align: center;
                justify-content: center;
                font-weight: bold;
                flex-direction: column;
                color: #f67240;

                @media screen and (max-width: $break-small) {
                    margin: 0 auto;
                }

                &:active {
                }
            }
        }

        .call-to-action__content {
            h2 {
                font-size: 36px;
                font-family: "Luckiest Guy", cursive;
                font-weight: 600;
                margin: 0 0 32px;
                color: #ffffff;
            }

            p {
                font-size: 18px;
                line-height: 32px;
            }
        }
    }

    .content {
        line-height: 26px;
        margin: 1px 0 23px;

        p {
            margin: 0 0 16px;
        }

        .title {
            margin: 0 0 44px;
        }
    }

    .targets {
        margin: 120px 0 0;

        .title {
            text-align: center;
            font-size: 26px;
            margin-bottom: 99px;
            color: #f67240;
        }

        .item {
            margin: 0 0 60px 0;

            h3 {
                font-size: 18px;
                margin: 5px 0 0;
            }

            p {
                font-size: 18px;
                line-height: 26px;
            }
        }
    }

    .bg-color {
        background-color: #fdfaff;
        padding: 52px 0;
    }

    .integration-guid {
        width: 80%;
        margin: 0 auto;
        color: #f67240;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Luckiest Guy", cursive;
        }

        .title {
            text-align: center;

            h2 {
                font-size: 36px;
            }
        }

        .content {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin: 0;
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    footer {
        .widget__item {
            @media screen and (max-width: $break-small) {
                padding: 15px 0 0;
            }

            .about {
                margin-top: 26px;
            }

            .about {
                font-size: 14px;
                line-height: 23px;
            }

            .links {
                h4 {
                    font-size: 14px;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-family: "Exo", sans-serif;
                    line-height: 0;
                }

                ul {
                    margin: 15px 0 0 0;

                    li {
                        line-height: 26px;

                        a {
                            font-size: 14px;
                            color: #797283;

                            &:hover,
                            &:active {
                                color: #8953b7;
                            }
                        }
                    }
                }

                .links__special {
                    background-color: #8953b7;
                    color: #ffffff;
                    border-radius: 4px;
                    padding: 2px 5px;

                    &:hover {
                        color: #ffffff;
                    }
                }
            }

            .social {
                text-align: right;

                @media screen and (max-width: $break-small) {
                    text-align: center;
                }

                a {
                    margin-left: 20px;

                    img {
                        filter: contrast(0);
                        transition: 0.15s;
                    }

                    &:hover img {
                        filter: contrast(1);
                    }

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }

        .copyright {
            text-align: center;
            margin-top: 90px;

            @media screen and (max-width: $break-small) {
                margin-top: 31px;
            }

            p {
                font-size: 13px;
            }
        }
    }
}
